<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
  <% if(user) { %>
  <div class="navbar">
    <h1>
        <a href="/"> Real Estate Loans App</a>
    </h1>
    <div class="nav-links">
      <a href="/" class="nav-link">Home</a>
      <a href="/deal" class="nav-link"nav>My Deals</a>
      <a href="/auth/sign-out" class="nav-link">Sign Out</a>
    </div>
  </div>

  <% } %>
</nav>
