<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/auth.css" />
    <title>Home Page</title>
  </head>

  <body>
    <% if (user) { %> <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to the app, <%= user.username %>!</h1>
    <% } else { %>
    <main>
      <div class="main-container">
        <div class="welcome-message">
          <p>Welcome to the Real Estate Loans App. </p>
          <p>The app to help organize your deal pipeline.</p>
        </div>
        <div>
        <a href="/auth/sign-in">Sign in</a>  |
        <a href="/auth/sign-up">Sign up</a>   
        </div>
      </div>
    </main>
    <% } %>
  </body>
</html>
