@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

body {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.my-deals-parent {
  display: flex;
  height: 100px;
  padding-bottom: 20px;
  margin: 0px 65px 10px 65px;
  border-bottom: 2px solid black;
}

#my-deals-child {
  font-size: 50px;
}

.add-deal-nav {
  display: flex;
  flex-direction: row-reverse;
  
}

.add-deal-parent {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px 65px 0px 65px;
}

#add-deal-child {
  margin: 7px;
}

main {
  background-color: white;
  padding: 32px 80px;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-content: center;
  
}
.card {
  border: 2px solid black;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card img {
  width: 345px;
  height: 260px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid black;
}

.deal-information {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 15px;
 
}

.deal-image {
  display: flex;
  flex-direction: row;
}